{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // Движку нужен проект TS для правил с типами
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "LF": "off",
    "require-jsdoc": "off"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}