{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "LF": "off",
    "require-jsdoc": "off",
    "new-cap": "off",
    "@typescript-eslint/no-unsafe-member-access" : "off",
    "@typescript-eslint/ban-ts-comment" : "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "no-invalid-this": "off",
    "@typescript-eslint/no-misused-promises": "off"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}
